{% load static %}

<!DOCTYPE html>

<html lang="en-US"
	class=" js flexbox flexboxlegacy canvas canvastext no-touch hashchange history draganddrop rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio svg inlinesvg svgclippaths js_active  vc_desktop  vc_transform  vc_transform ">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="profile" href="https://gmpg.org/xfn/11">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes">
	<link rel="stylesheet" href="{% static 'css/799c7.css' %}" media="all">
	<link rel="stylesheet" id="timetable_font_lato.css' %}" href="{% static 'css/style.css' %}" type="text/css"
		media="all">
	<link rel="stylesheet" href="{% static 'css/b766a.css' %}" media="all">
	<style id="educator_edge_woo-inline-css" type="text/css">
		.page-id-255 .edgt-top-bar {
			background-color: rgba(45, 118, 178, 1);
		}

		.page-id-255.edgt-boxed .edgt-wrapper {
			background-attachment: fixed;
		}

		.page-id-255 .edgt-content .edgt-content-inner>.edgt-container>.edgt-container-inner,
		.page-id-255 .edgt-content .edgt-content-inner>.edgt-full-width>.edgt-full-width-inner {
			padding-top: 0px !important;
		}
	</style>
</head>

<body
	class="page-template page-template-full-width page-template-full-width-php page page-id-255 edgt-core-1.0 edgt-lms-1.0 edgt-social-login-1.0 tribe-js educator-ver-1.0 edgt-grid-1300 edgt-predefined-font-type-1 edgt-fixed-on-scroll edgt-dropdown-default edgt-header-standard edgt-menu-area-shadow-disable edgt-menu-area-in-grid-shadow-disable edgt-menu-area-border-disable edgt-menu-area-in-grid-border-disable edgt-logo-area-border-disable edgt-logo-area-in-grid-border-disable edgt-side-menu-slide-from-right edgt-woocommerce-columns-3 edgt-woo-normal-space edgt-woo-pl-info-below-image edgt-woo-single-thumb-below-image edgt-default-mobile-header edgt-sticky-up-mobile-header edgt-top-bar-light edgt-search-covers-header wpb-js-composer js-comp-ver-6.0.5 vc_responsive"
	itemscope="" itemtype="http://schema.org/WebPage">

	<div class="edgt-wrapper">
		<div class="edgt-wrapper-inner">
			<div class="edgt-top-bar">
				<div class="edgt-vertical-align-containers">
					<div class="edgt-position-left">
						<div class="edgt-position-left-inner">
							<div id="text-9" class="widget widget_text edgt-top-bar-widget">	
							</div>	
						</div>
					</div>
					</div>
				</div>
			</div>

			<header class="edgt-page-header" style="margin-bottom: 0px;">
				<div class="edgt-fixed-wrapper">
					<div class="edgt-menu-area edgt-menu-right" style="height: 80px;">
						<div class="edgt-vertical-align-containers">
							<div class="edgt-position-right">
								<div class="edgt-position-right-inner">
									<nav class="edgt-main-menu edgt-drop-down edgt-default-nav">
										<ul id="menu-main-menu" class="clearfix">
											<li id="nav-menu-item-66"
												class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children edgt-active-item has_sub narrow">
												<a href="{% url 'main:welcome' %}" class=" current "><span class="item_outer"><span
															class="item_text">Home</span><i
															class="edgt-menu-arrow fa fa-angle-down"></i></span></a>
											</li>
											<li id="nav-menu-item-1387"
												class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub wide">
												<a href="{% url 'main:teams' %}" class=""><span
														class="item_outer"><span class="item_text">Teams</span><i
															class="edgt-menu-arrow fa fa-angle-down"></i></span></a>
											</li>
											<li id="nav-menu-item-1387"
												class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub wide">
												<a href="{% url 'main:matches' %}" class=""><span
														class="item_outer"><span class="item_text">Matches</span><i
															class="edgt-menu-arrow fa fa-angle-down"></i></span></a>
											</li>
											<li id="nav-menu-item-1387"
												class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  has_sub wide">
												<a href="{% url 'main:points' %}" class=""><span
														class="item_outer"><span class="item_text">Score
															Table</span><i
															class="edgt-menu-arrow fa fa-angle-down"></i></span></a>
											</li>
										</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
		</div>

		</header>
		<header class="edgt-mobile-header" style="margin-bottom: 0px;">
			<div class="edgt-mobile-header-inner">
				<div class="edgt-mobile-header-holder">
					<div class="edgt-grid">
						<div class="edgt-vertical-align-containers">
							<div class="edgt-position-left">
								<div class="edgt-position-left-inner">
									<div class="edgt-mobile-logo-wrapper">
										<a itemprop="url" href="https://educator.qodeinteractive.com/"
											style="height: 80px">
											<img itemprop="image" src="{% static 'images/logo-dark.png' %}" width="272"
												height="160" alt="Mobile Logo">
										</a>
									</div>
								</div>
							</div>
							<div class="edgt-position-right">
								<div class="edgt-position-right-inner">
									<div class="edgt-mobile-menu-opener">
										<a href="javascript:void(0)">
											<span class="edgt-mobile-menu-icon">
												<span aria-hidden="true"
													class="edgt-icon-font-elegant icon_menu "></span> </span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="edgt-mobile-side-area">
				<div class="edgt-close-mobile-side-area-holder">
					<span aria-hidden="true" class="icon_close"></span>
				</div>

			</div>

		</header>
		<a id="edgt-back-to-top" href="#" class="off">
			<span class="edgt-icon-stack">
				<i class="edgt-icon-font-awesome fa fa-angle-up "></i> </span>
			<span class="edgt-back-to-top-inner">
				<span class="edgt-back-to-top-text">Top</span>
			</span>
		</a>

		{% block main %}

		{% endblock main %}

	</div>
	</div>
	</div>
	</div>
	</div>
	</div>